<a href="https://colab.research.google.com/github/pragatisaroj1608/pragati/blob/main/pythonassignment.ipynb" target="_parent"><img src="https://colab.research.google.com/assets/colab-badge.svg" alt="Open In Colab"/></a>

In [ ]:
# Q1: What is the output of following expression
#     5 + 4 * 9 % (3 + 1) / 6 - 1

result = 5 + 4 * 9 % (3 + 1) / 6 - 1
print(result)

4.0

In [ ]:
# Q2: Write a program to check if a Number is Odd or Even. Take number as a input from user at runtime.

num = int(input("Enter a number: "))
if num % 2 == 0:
    print("The number is even.")
else:
    print("The number is odd.")

Enter a number: 4
The number is even.

In [ ]:
# Q3: Write a program to display the multiplication table by taking a number as input.
#     [Hint : Use print statement inside of a loop]

num = int(input("Enter a number: "))
for i in range(1, 11):
    print(f"{num} x {i} = {num * i}")

Enter a number: 5
5 x 1 = 5
5 x 2 = 10
5 x 3 = 15
5 x 4 = 20
5 x 5 = 25
5 x 6 = 30
5 x 7 = 35
5 x 8 = 40
5 x 9 = 45
5 x 10 = 50

In [ ]:
# Q4: Write a program which will find all numbers between 2000 and 3200 which are divisible by 7
#     but are not a multiple of 5.
#     Note: The numbers obtained should be printed in a comma-separated sequence on a single line.

numbers = [str(i) for i in range(2000, 3201) if i % 7 == 0 and i % 5 != 0]
print(", ".join(numbers))

2002, 2009, 2016, 2023, 2037, 2044, 2051, 2058, 2072, 2079, 2086, 2093, 2107, 2114, 2121, 2128, 2142, 2149, 2156, 2163, 2177, 2184, 2191, 2198, 2212, 2219, 2226, 2233, 2247, 2254, 2261, 2268, 2282, 2289, 2296, 2303, 2317, 2324, 2331, 2338, 2352, 2359, 2366, 2373, 2387, 2394, 2401, 2408, 2422, 2429, 2436, 2443, 2457, 2464, 2471, 2478, 2492, 2499, 2506, 2513, 2527, 2534, 2541, 2548, 2562, 2569, 2576, 2583, 2597, 2604, 2611, 2618, 2632, 2639, 2646, 2653, 2667, 2674, 2681, 2688, 2702, 2709, 2716, 2723, 2737, 2744, 2751, 2758, 2772, 2779, 2786, 2793, 2807, 2814, 2821, 2828, 2842, 2849, 2856, 2863, 2877, 2884, 2891, 2898, 2912, 2919, 2926, 2933, 2947, 2954, 2961, 2968, 2982, 2989, 2996, 3003, 3017, 3024, 3031, 3038, 3052, 3059, 3066, 3073, 3087, 3094, 3101, 3108, 3122, 3129, 3136, 3143, 3157, 3164, 3171, 3178, 3192, 3199

In [ ]:
# Q5: Count the elements of each datatype inside the list and display in output
#     [2, 3, 'Py', '10', 1, 'SQL', 5.5, True, 3, 'John', None, 7]

data = [2, 3, 'Py', '10', 1, 'SQL', 5.5, True, 3, 'John', None, 7]
counts = {"int": 0, "str": 0, "float": 0, "bool": 0, "None": 0}
for item in data:
    if isinstance(item, int):
        counts["int"] += 1
    elif isinstance(item, str):
        counts["str"] += 1
    elif isinstance(item, float):
        counts["float"] += 1
    elif isinstance(item, bool):
        counts["bool"] += 1
    elif item is None:
        counts["None"] += 1
print(counts)

{'int': 6, 'str': 4, 'float': 1, 'bool': 0, 'None': 1}

In [ ]:
# Q6: Add all values from the list with numeric datatypes
#     [2, 3, 'Py', '10', 1, 'SQL', 5.5, True, 3, 'John', None, 7]

data = [2, 3, 'Py', '10', 1, 'SQL', 5.5, True, 3, 'John', None, 7]
total = sum(item for item in data if isinstance(item, (int, float, bool)))
print(total)

22.5

In [ ]:
# Q7: Concat all str datatypes with hyphen as a delimiter
#     [2, 3, 'Py', '10', 1, 'SQL', 5.5, True, 3, 'John', None, 7]

data = [2, 3, 'Py', '10', 1, 'SQL', 5.5, True, 3, 'John', None, 7]
strings = [str(item) for item in data if isinstance(item, str)]
print("-".join(strings))

Py-10-SQL-John

In [ ]:
# Q8: Get only odd numbers from the following list and store the numbers in new list
#     li = [5, 7, 22, 97, 54, 62, 77, 23, 73, 61]

li = [5, 7, 22, 97, 54, 62, 77, 23, 73, 61]

# i. Use loops to get the answer
odd_numbers = []
for num in li:
    if num % 2 != 0:
        odd_numbers.append(num)
print(odd_numbers)

# ii. Use list comprehensions
odd_numbers = [num for num in li if num % 2 != 0]
print(odd_numbers)

# iii. Use lambda function with filter
odd_numbers = list(filter(lambda x: x % 2 != 0, li))
print(odd_numbers)

[5, 7, 97, 77, 23, 73, 61]
[5, 7, 97, 77, 23, 73, 61]
[5, 7, 97, 77, 23, 73, 61]

In [ ]:
# Q9: Write an udf to calculate the area of different shapes
#     Take shape and dimensions as arguments to udf as follows :
#     1. square which has side
#     2. rectangle which has length and width
#     3. circle which has radius
#     The shape should be a positional argument and it's dimensions are taken as kwargs
#     Perform proper validation for the user inputs and then

In [ ]:
write a UDF to check if a number is prime or not.
def is_prime(n):
    """
    Check if a number is prime.

    Args:
        n (int): The number to check.

    Returns:
        bool: True if the number is prime, False otherwise.

    Raises:
        ValueError: If the input is not a positive integer.
    """

    if not isinstance(n, int) or n <= 0:
        raise ValueError("Input must be a positive integer.")

    if n == 1:
        return False

    for i in range(2, int(n ** 0.5) + 1):
        if n % i == 0:
            return False

    return True

# Example usage:print(is_prime(25))  # Output: False
print(is_prime(23))  # Output: True
print(is_prime(37))  # Output: True
print(is_prime(48))  # Output: False

SyntaxError: expected 'else' after 'if' expression (<ipython-input-19-7a306b5cf6a4>, line 1)

In [ ]:
Q11. Write a program that takes a string and returns reversed string. i.e. if input is "abcd123" output should be "321dcba"
def reverse_string(s):
    """
    Reverse a string.

    Args:
        s (str): The string to reverse.

    Returns:
        str: The reversed string.
    """

    return s[::-1]

# Example usage:
input_str = input("Enter a string: ")
print(reverse_string(input_str))
def reverse_string(s):
    return "".join(reversed(s))

SyntaxError: invalid syntax (<ipython-input-21-c36d602d9d9f>, line 1)